body{
    margin: 0px;
    padding: 0px;
}
.scene{
    display: block;
    position: relative;
}
.scene .item{
    display: block;
    position: relative;
}
.scene .item-center{
    text-align: center;
}